VITE_API_URL=http://localhost:5000/api/inventory
VITE_API_URL_ORDERS=http://localhost:5000/api/orders
VITE_API_URL_AUTH=http://localhost:5000/api/auth
VITE_API_URL_SHIFTS=http://localhost:5000/api/shifts
